<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us"> 


<link href="//fonts.googleapis.com/css?family=Asap&subset=latin" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css2?family=Avenir&subset=latin" rel="stylesheet" type="text/css">
<!-- <link href="//fonts.googleapis.com/css?family=Merriweather|Titillium+Web&subset=latin" rel="stylesheet" type="text/css"> -->


<style>
* {
 font-family: 'Avenir', sans-serif;
}
.extra {
 font-family: 'Asap', sans-serif;
}
.title {
 font-family: 'Asap', sans-serif;
}
</style>

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Robin Zachariah Tharakan" />
  
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>

<div class="site"> 
  <div class="title">
    <a class="title" href="/">Robin Zachariah Tharakan</a>
    <a class="extra" href="/about">about</a>
    <a class="extra" href="/blog">blog</a>
    <a class="extra" href="/collections">collections</a>
    <a class="extra" href="/gallery">gallery</a>
    <!-- <a class="extra" href="/notes">notes</a>   -->
    <a class="extra" href="/now">now</a>
    <!-- <a class="extra" href="/files/Robin%20Tharakan%20_%20Resume%20_%20Spring-2024.pdf">resume <sup>[pdf]</sup></a> -->
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        <span class="small"><a href="mailto:robin.tharakan@gmail.com" rel="me">Email</a> · <a rel="me" href="https://mastodon.social/@rtharakan">Mastodon</a></span> · <a rel="me" href="http://github.com/rtharakan/">GitHub</a></span>
      </p>
    </div>
    <div class="contact" style="float:right; margin-right:0px">
      <p>
        <span class="small"> <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">Website License</a></span>
      </p>
    </div>
  </div>
</div>

</body>
</html>
